body {
    background-color: #FFFFEO; /* warna kuning cerah */
    font-family: Arial, sans-serif; /* jenis yang mudah di baca*/
    color: D3D3D3; /* warna teks  abu abu gelap */
}

.kartu-profil {
    width: 355px;
    margin: 75px auto; /* 50px jarak atas/bawah, auto= mengarahkan ke kiri atau ke kanan */
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* membuat sudut menjadi melengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* efek bayangan */
    text-align: center;
}

  .kartu-profil img {
       width: 150px;
       border-radius: 50%;
  }
.kartu-profil {
    /* ... (kode dari slide sebelumnya) ...*/
       text-align: center; /* menengah semua teks di dalam kartu */
    
